body, html {
    height: 100%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
}

p {
    margin: 0;
}

.text-font-size-20 {
    font-size: 20px;
}

.text-font-size-30 {
    font-size: 30px;
}

.text-larger {
    font-size: larger;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.navbar {
  margin-bottom: 0;
}

a.navbar-brand {
    font-size: 24px;
}

ul.navbar-nav {
    font-size: 18px;
}

.parallax { 
    /* The image used */
    background-image: url('https://dzienciol13.github.io/assets/images/backgroundImage.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.cover {
    position: relative;
    top: 16%;
    color: #fff;
}

.profile-image {
    border: 3px solid #fff;
    border-radius: 50%;
    width: 260px;
    height: 260px;
}

section {
    padding: 20px 20%;
}

section>h2 {
    margin: 10px 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #999;
}

.thumbnail .caption {
    min-height: 102px;
}

.portfolio-image {
    max-width: 400px;
    max-height: 300px;
}

.portfolio-link {
    /*border: 1px solid #00f;*/
    padding: 4px;
    font-size: 20px;
}

#skills, #social {
    background-color: #f0f0f0;
}

#social {
    background-color: #0e98e0;
    color: #fff;
}

.icon {
    width: 100px;
    height: 100px;
    padding: 10px;
}

#social>ul {
    padding: 0;
    margin: 0;
}

#social>ul>li {
    display: inline;
}

.social-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    transition: all .2s ease-in-out;
}

#social a {
    background-color: inherit;
    color: inherit;
}

#social a:hover {
    background-color: #fff;
    color: #0e98e0;
}

#social a>i {
    line-height: 46px !important;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.copyright {
    font-size: 16px;
}
